In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
float_data = pd.Series([1.2, -3.5, np.nan, 0])

In [6]:
float_data

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [7]:
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])

In [9]:
string_data.isna()

0    False
1     True
2     True
3    False
dtype: bool

In [10]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
   ....:                      [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

In [11]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [13]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0